/* Elements */
   .non-metals {
      background: #00B6BC;
   }

   .transition-metals {
      background: #F53951;
   }

   
   .post-transition-metals {
      background: #59CF6E;
   }

   .alkaline-earth {

   }

   .metalloid {
      background: orange; 
   } 

   .halogen {
      background: orangered;  
   }

   .noble-gas {
      background: #1B70D2;
   }

   .lanthanides {

   }

   .actinides {
      
   }

.bg-primary {
   background-color: #fff;
}

/* Glassphormisim */
.box {
   /* background: rgba(255, 255, 255, 0.25); */
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(20.0px);
   -webkit-backdrop-filter: blur(3.0px);
   border: 1px solid rgba(255, 255, 255, 0.18);
   border-radius: 3px; 
}