/* Glassphormisim */
.box {
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(20.0px);
   -webkit-backdrop-filter: blur(3.0px);
   border: 1px solid rgba(255, 255, 255, 0.10);
   border-radius: 3px; 
}

.box:hover {
   background:rgba(255, 255, 255, 0.50);
   border: 1px solid rgba(255, 255, 255, 0.80);
}

/* Alkaline Metal */
.alkali-metal {
   background: orange;
}

/* Alkaline Earth */
.alkaline-earth {
   background: #00B6BC;
}

/* Transition Metals */
.transition-metals {
   background: #4fbb62;
}

/* Post Transition */
.post-transition-metals {
   background: #F53951;
}

/* Metalloid */
.metalloid {
   background: orange;
}

/* Non Metal */
.non-metals {
   background: #00B6BC;
}

/* Hallogen */
.halogen {
   background: orangered;
}

/* Noble Gas */
.noble-gas {
   background: #ce07ad;
}

/* Lanthanides */
.lanthanides {
   background: #ce07ad;
}

/* Actinides */
.actinides {
   background: #00B6BC;
}