/* Color code */
:root {
   --bg-primary: linear-gradient(to bottom, #9c138f,  #7c15c0);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 0.7rem;
   color: #fff;
   background-image: var(--bg-primary);
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

h1 {
   margin: 1.5rem 0;
   font-weight: 600;
   position: relative;
}

h1 span {
   background-color: orange;
}

.number {
   font-size: 0.7rem;
   font-weight: 100;
}

.symbol {
   font-size: 1.1rem;
   font-weight: 600;
}

.element {
   font-size: 0.56rem;
   font-weight: 900;
}

.group {
   font-size: 0.6rem;
   font-weight: 600;
}

.container {
   display: grid;
   grid-template-columns: repeat(18, 70px);
   grid-auto-rows: minmax(10px, auto);
   grid-gap: 0.2rem;
   padding: 1rem 0;
}

.box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 0.65rem;
}

/* Grid spans and positions */
.box:first-child {
   justify-items: start;
   grid-column: 1;
}

.box:nth-child(2) {
   grid-column: 18;
}

.box:nth-child(5) {
   grid-column: 13;
}

.box:nth-child(12) {
   grid-column: 2;
}

.box:nth-child(13) {
   grid-column: 13;
}

/* Responsive */
@media(max-width: 1350px) {
   .container {
      grid-template-columns: repeat(18, 60px);
   }

   .box {
      overflow-x: hidden;
   }
}

@media(max-width: 1300px) {
   .box:nth-child(2) {
      grid-column: 2;
   }
}

@media(max-width: 1250px) {
   .box:nth-child(5) {
      grid-column: 5;
   }

   .box:nth-child(12) {
      grid-row: 1;
      grid-column: 12;
   }
}

@media(max-width: 1230px) {
   .container {
      grid-template-columns: repeat(13, 70px);
   }
}

@media(max-width: 1000px) {
   .container {
      grid-template-columns: repeat(7, 1fr);
   }
}